<h2>Past events</h2>
<ul>
<% Event.past.each do |event| %> 
  <li><%= event.name %> on <%= event.event_date %></li>
<% end %>
</ul>
<h2>Future events</h2>
<ul>
<% Event.future.each do |event| %> 
  <li><%= event.name %> on <%= event.event_date %></li>
<% end %>
</ul>
